<div>

    <table border='1'>
        <tr>
            <td>
                <a href="/people/">Inicio</a>
            </td>
            <td>
                <h1>Pessoa</h1>
                
                <a href="/people/cadastro">Cadastro</a>
                <a href="/people/listar">Listar</a>
            </td>
            <td>

                <h1>Animal</h1>
                <a href="/people/animal/cadastro">Cadastro</a>
                <a href="/people/animal/listar">Listar</a>
            </td>
        </tr>
    </table>

</div>